h1 {
    text-align: center;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


table {
    width: 90vw;
    height: 80vh;

    height: 70vh;
    
    margin-left: 5vw;
    margin-bottom: 5vh;
    table-layout: fixed;
}

table caption {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

thead th {
    background-color: gray;
}

tbody td:first-of-type {
    background-color: gray;
}

tbody td:first-of-type:hover, .empty:hover, .pati:hover {
    transform: scale(1.0);
    transition: 0;
    filter: none;
}

td {
    text-align: center;
    background-color: lightgrey;
}

td:hover {
    transform: scale(1.5);
    transition: 0.3s;
    filter: brightness(110%)
}

td p {
    visibility: hidden;
}
td:hover p {
    visibility: visible;
}

.pati {
    background-color: beige;
}

.progra {
    background-color: lightpink;
}

.tutoria {
    background-color: lightblue;
}

.sistemes {
    background-color: lightgoldenrodyellow;
}

.web {
    background-color: lightskyblue;
}

.bbdd {
    background-color: lightsalmon;
}

.ipo {
    background-color: lightsteelblue;
}

.erp {
    background-color: lightgreen;
}