table {
    width: 90vw;
    height: 80vh;

    margin-left: 5vw;
    table-layout: fixed;
}

thead th {
    background-color: gray;
}

tbody td:first-of-type {
    background-color: gray;
}

tbody td:first-of-type:hover, .empty:hover, .pati:hover {
    transform: scale(1.0);
    transition: 0;
    filter: none;
}

td {
    text-align: center;
    background-color: lightgrey;
}

td:hover {
    transform: scale(1.5);
    transition: 0.3s;
    filter: brightness(110%)
}

.pati {
    background-color: beige;
}

.progra {
    background-color: lightpink;
}

.tutoria {
    background-color: lightblue;
}

.sistemes {
    background-color: lightgoldenrodyellow;
}

.web {
    background-color: lightskyblue;
}

.bbdd {
    background-color: lightsalmon;
}

.ipo {
    background-color: lightsteelblue;
}

.erp {
    background-color: lightgreen;
}